@model IEnumerable<SOneApprendaHelper.Models.ApprendaLink>

@{
    ViewBag.Title = "Apprenda Links";
}

<h2>Apprenda Links</h2>

@if (Model == null)
{
    <span>Please, set the @Html.ActionLink("Apprenda Settings", "Edit", "Settings").</span>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprendaUrl)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Navigate", new { id = item.Id }, new { target = "_blank" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprendaUrl)
                </td>
            </tr>
        }
    </table>
}