@model SOneApprendaHelper.Models.ApprendaSettings

@{
    ViewBag.Title = "Apprenda Settings";
}

@if (ViewBag.AlertMessage != null)
{
    <div class="alert alert-success">@ViewBag.AlertMessage</div>
}

<h2>Apprenda Settings</h2>

<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.ApprendaBaseUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApprendaBaseUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApprendaBaseUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationAlias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationAlias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationAlias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationVersion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationVersion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationVersion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationVersionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationVersionId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationVersionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SubscriptionGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.SubscriptionGroupId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.SubscriptionGroupId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}