@model IEnumerable<SOneApprendaHelper.Models.ApprendaLink>

@{
    ViewBag.Title = "Apprenda Links";
}

<h2>Apprenda Links</h2>

@if (Model == null)
{
    <span>Please, set the @Html.ActionLink("Apprenda Settings", "Edit", "ApprendaSettings").</span>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
            </tr>
        }
    </table>
}