@model SOneApprendaHelper.Models.ApprendaSettings

@{
    ViewBag.Title = "Apprenda Settings";
}

@if (ViewBag.AlertMessage != null)
{
    <div class="alert alert-success">@ViewBag.AlertMessage</div>
}

<h2>Apprenda Settings</h2>

<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.ApprendaUserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApprendaUserEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApprendaUserEmail, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">email@example.com</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApprendaUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApprendaUserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApprendaUserId, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">9c236888-4bac-e411-80c4-0050560115d4</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApprendaBaseUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApprendaBaseUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApprendaBaseUrl, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">apps.swissphone-sone.ch</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationAlias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationAlias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationAlias, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">curse</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationId, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">d113c1aa-e2bc-e411-80c6-0050560115d4</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationVersion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationVersion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationVersion, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">1</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ApplicationVersionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.ApplicationVersionId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.ApplicationVersionId, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">d313c1aa-e2bc-e411-80c6-0050560115d4</span></em>
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SubscriptionGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.SubscriptionGroupId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.SubscriptionGroupId, "", new { @class = "text-danger" })
            </div>
            <span class="form-control-static col-md-4">
                <em>e.g. <span class="text-info">36f41222-e3bc-e411-80c6-0050560115d4</span></em>
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}