@model SOneApprendaHelper.Models.ApprendaSettings

@{
    ViewBag.Title = "Home Page";
}

@if (Model == null)
{
    <h2>Home Page</h2>

    <span>Please, set the @Html.ActionLink("Apprenda Settings", "Edit", "Settings").</span>
}
else
{
    <h2>Configs</h2>

    <div class="form-horizontal col-md-12">
        <div class="panel panel-success">
            <div class="panel-body">
                @Html.ActionLink("Client App Config", "GetClientAppConfig", null, new { @class = "btn btn-default", target = "_blank" })
            </div>
        </div>
    </div>

    <h2>Generators</h2>

    <div ng-app="generatorsApp" ng-init="role='Developer'; enablePermissionsCheck=true; email='@Model.ApprendaUserEmail'; uid='@Model.ApprendaUserId'; usernames='@Model.ApprendaUserEmail'; culture='en-US'; autoLoginCheck=true; resetSettingsCheck=true; netPing=10">
        <div class="form-horizontal col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Script for setting all permissions</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="scriptRoleInput">Role</label>
                        <div class="col-md-2">
                            <input id="scriptRoleInput" class="form-control" type="text" ng-model="role"/>
                        </div>
                        <div class="checkbox col-md-2">
                            <label>
                                <input type="checkbox" ng-model="enablePermissionsCheck"> Enable permissions
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea readonly class="form-control default-cursor" rows="2">(function() { var a = document.querySelectorAll('[rolename="{{role}}"] [type="checkbox"]'); for (var i = 0; i < a.length; i++) { if (a[i].checked != {{enablePermissionsCheck}}) { a[i].click(); } } })()</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>SQL-query for adding User to the Organizational Unit</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="sqlEmailInput">User E-mail</label>
                        <div class="col-md-6">
                            <input id="sqlEmailInput" class="form-control" type="text" ng-model="email"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="sqlUserIdInput">User ID</label>
                        <div class="col-md-6">
                            <input id="sqlUserIdInput" class="form-control" type="text" ng-model="uid"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea readonly class="form-control default-cursor" rows="2">INSERT INTO F_Users([Guid], [Email], [OrganizationalUnit_id]) VALUES ('{{uid}}', '{{email}}', 1)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal col-md-12" ng-controller="ClientCmdLine">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Client command-line arguments</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="cultureSelectInput">Culture</label>
                        <div class="col-md-2">
                            <select id="cultureSelectInput" class="form-control" ng-model="culture">
                                <option></option>
                                <option value="en-US">English</option>
                                <option value="de-DE">German</option>
                                <option value="da-DK">Danish</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="usernamesInput">Username(s)</label>
                        <div class="col-md-6">
                            <input id="usernamesInput" class="form-control" type="text" ng-model="usernames"/>
                            <em>
                                <span class="text-info">One or multiple usernames separated with comma.</span>
                            </em>
                        </div>
                        <div class="checkbox col-md-offset-1 col-md-2">
                            <label>
                                <input type="checkbox" ng-model="autoLoginCheck"> Auto-login
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="passwordInput">Password</label>
                        <div class="col-md-4">
                            <input id="passwordInput" class="form-control" type="text" ng-model="password"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="settingsPathInput">Settings path</label>
                        <div class="col-md-6">
                            <input id="settingsPathInput" class="form-control" type="text" ng-model="settingsPath"/>
                            <em>
                                <span class="text-info">The path where application should store its settings.</span>
                            </em>
                        </div>
                        <div class="checkbox col-md-offset-1 col-md-2">
                            <label>
                                <input type="checkbox" ng-model="resetSettingsCheck"> Reset settings on start
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="netPing">Ping interval</label>
                        <div class="col-md-2">
                            <input id="netPing" class="form-control" type="number" ng-model="netPing"/>
                            
                        </div>

                        <div class="checkbox col-md-8">
                            <em>
                                <span class="text-info">The interval is in seconds. Set 0 to disable it. The default value is 10.</span>
                            </em>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-12">
                            > sONE.exe <textarea readonly class="form-control default-cursor" rows="1">{{cmdLineArgs()}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Extensions</h2>

    <div class="form-horizontal col-md-12">
        <div class="panel panel-danger">
            <div class="panel-body">
                @Html.ActionLink("Chrome Extension", "GetChromeExtension", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/angular")

    <script type="text/javascript">
        angular.module("generatorsApp", [])
            .controller("ClientCmdLine", function($scope) {
                $scope.cmdLineArgs = function() {
                    var cmdLine = "";

                    if ($scope.culture) {
                        cmdLine = "-c " + $scope.culture;
                    }

                    if ($scope.usernames) {
                        cmdLine += " -u \"" + $scope.usernames + "\"";
                    }

                    if ($scope.password) {
                        cmdLine += " -p \"" + $scope.password + "\"";
                    }

                    if ($scope.autoLoginCheck) {
                        cmdLine += " -l";
                    }

                    if ($scope.settingsPath) {
                        cmdLine += " -s \"" + $scope.settingsPath + "\"";
                    }

                    if ($scope.resetSettingsCheck) {
                        cmdLine += " -r";
                    }

                    if ($scope.netPing !== 10) {
                        cmdLine += " -n " + $scope.netPing;
                    }

                    return $.trim(cmdLine);
                };
            });
    </script>
}